
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <h1>@ViewBag.v1</h1>
    <h3>Toplam Kategori Sayısı</h3>
    <br />
    <br />
    <h1>@ViewBag.v2</h1>
    <h3>Yazılım Kategorisine ait başlık sayısı</h3>
    <br />
    <h1>@ViewBag.v3</h1>
    <h3>İçinde A harfi olan Yazar Sayısı</h3>
   
</body>
</html>
