
@{
    Layout = null;
}


<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div>Tablo Örneği</div>
<br />
<table class="table table-hover">
    <tr>
        <th>Kategori ID</th>
        <th>Kategori Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
        <th>Güncelle</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Eğitim</td>
        <td>Açıklama y</td>
        <td>Ture</td>
        <th><button class="btn btn-success">Güncelle</button></th>
    </tr>
    <tr>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <th><button class="btn btn-success">Güncelle</button></th>
    </tr>
    <tr>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <th><button class="btn btn-success">Güncelle</button></th>
    </tr>
    <tr>
        <td>4</td>
        <td>4</td>
        <td>4</td>
        <td>4</td>
        <th><button class="btn btn-success">Güncelle</button></th>
    </tr>
</table>
<button class="btn btn-info">Yeni Kategori Ekle</button>
<button class="btn btn-primary">Kategori Listesi</button>
<button class="btn btn-danger">Kategori Açıklaması</button>