
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Deneme</title>
</head>
<body>
    <h4>Burası Layout</h4>
    <div> 
        @RenderBody();
    </div>
</body>
</html>
